* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hg-1 {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.employee__search {
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 5px 0px rgba(199,187,199,1);
  border-radius: 4px;
  padding: 10px;
}

.employee {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 auto 15px;
  width: 95%;
  max-width: 300px;
}

.employee:hover {
  box-shadow: 0px 0px 5px 0px rgba(199,187,199,1);
}

.employee__photo {
  width: 80px;
  border-radius: 50%;
  margin: 20px;
}

.employee ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  font-size: 10px;
}

.employee li {
  padding-bottom: 7px;
  color: gray;
}

.employee li:first-child {
  font-weight: 600;
  padding: 20px 0 10px;
  font-size: 15px;
  color: #444;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;

}

.modal-content {
  width: 28%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  border: 1px solid lightgray;
  display: block;
}

.modal-content > div {
  padding: 10px 0;
  text-align: right;
}

.close-modal {
  text-align: right;
  padding: 15px;
  color: darkgray;
  cursor: pointer;
}

.modal__photo {
  width: 130px;
  border-radius: 50%;
  margin-top: 5px;
}

.modal li {
  margin-top: 0;
  font-size: 13px;
  padding-bottom: 18px;
}

.modal li.modal__phone {
  padding-top: 20px;
}

.modal hr {
  width: 85%;
  border: .5px solid lightgrey;
}

.arrow-right, .arrow-left {
  font-size: 80px;
  color: #fff;
  padding: 50px 100px;
  cursor: pointer;
}

.arrow-right:hover, .arrow-left:hover {
  background-color: rgba(0,0,0,0.2);
}


@media (min-width: 768px) {

  header {
    flex-direction: row;
  }

  .hg-1 {
    margin: 40px 0 20px 60px ;
  }

  .employee__search {
    margin: 40px 60px 20px 20px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    width: 95%;
    margin: 30px auto;
  }

  .employee {
    margin-bottom: 0;
    width: 95%;
    max-width: 400px
  }

  .employee ul {
    font-size: 15px;
  }

  .employee li:first-child {
    font-size: 18px;
  }

  .employee__photo {
    width: 100px;
  }

}

@media (min-width: 1020px) {
  main {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    width: 95%;
    margin: 30px auto;
  }

  .employee {
    margin-bottom: 0;
    max-width: 350px
  }

  .employee ul {
    font-size: 12px;
  }

  .employee li:first-child {
    font-size: 15px;
  }

  .hg-1 {
    margin: 40px 0 20px 40px ;
  }

  .employee__search {
    margin: 40px 40px 20px 20px;
  }

}
